@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --big-color: #1f242d;
    --second-big-color: #323946;
    --text-color:#fff;
    --min-color: #0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--big-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--big-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover{
    color: var(--min-color)
}
#menu-ico{
    font-size: 3.6rem;
    color: var(--min-color);
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img{
    width: 50vw;
   /* animation: floatimage 4s ease-in-out infinite; */
}

.home-img img{
     border-radius: 50%;
     object-fit: cover;
     /* height: 20vw; */
     /* aspect-ratio: 1/1; */
    width: 90%;
   /* hidden: auto; */
}

@keyframes floatimage{
  0% {
    transform: translateY(0);
  }
 50%{
 transform: translateY(-4.4rem);
 }
 100%{
    transform: translateY(0);
 }
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
 margin-bottom: 2rem;   
}
span{
    color: aqua;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {
   font-size: 1.6rem;
}
.btn{
    display: inline-block;
    margin-top: 50px;
    padding: 1rem 2.8rem;
    background: var(--min-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--min-color);
    font-size: 1.6rem;
    color: var(--second-big-color);
 letter-spacing: .1rem;
 font-weight: 600;
 transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
strong{
    color: rgb(125, 89, 95);
}

.About{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    background: var(--second-big-color);
}
.About-img{
    width: 70vw; 
}

.About-img img{
    width: 120%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--big-color);
}
.heading{
    font-size: 4.5rem;
}
.About-conten h2{
    text-align: 1eft;
    line-height: 1.2;
}
.About-conten h3{
    font-size: 2.6rem;
}
.About-conten p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.headinh{
    font-size: 4.5rem;
    margin-bottom: 5rem;
}
.services h2{
margin-bottom: 5rem;
}
.Services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.Services-container .Services-box{
    flex: 1 1 22rem;
    background: var(--second-big-color);
    padding: 1rem 1rem 1rem;
    text-align: center;
    border-radius: 2rem;
    border: 2px solid var(--big-color);
    transform: .3s ease;
}
.Services-container .Services-box:hover{
  border-color: var(--min-color);
    transform: scale(1.02);
}
.Services-box i{
 font-size: 7rem;   
 color: var(--min-color);
}
.Services-box h3{
    font-size: 2.6rem;
}
.Services-box p{
    font-size: 1.6rem;
    margin: 0.5rem;
}
.container{
    
    width: 100%;
    background: blue;
}
 /* projects */
.pro-co{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.card{

    margin-top: 50px;
    width: 320px;
    background: linear-gradient(145deg,#0b1d38,#102b55);
    padding: 25px;
    border-radius: 20px;
    color:white;
    position:relative;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.top-icons .fa-github {
    font-size: 30px;
}


.top-icons .fa-github:hover {
    color: var(--min-color);
}
.fa-regular.fa-folder{
    color: var(--min-color);
    justify-content: space-between;
    font-size: 4.5rem;
}

.fol{
    position: absolute;
     top: 30px;
     right: 650%;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0,0,0,0.6) rgba(0,255,200,0.5);

}
.top-icons{
   position: absolute;
   top: 1rem;
   right: 1rem;
   display: flex;
   gap: 1rem;
}

.top-icons i{
    font-size: 1.5rem;
    cursor: pointer;
}

.icon{
    width: 130px;
    height: 130px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.card p{
  LINE-HEIGHT: 1.7;
    color: #d0d0d0;
    margin-bottom: 20px;   
}

.tags{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.tags span{
  font-size: 1.2rem;
  color: #cfcfcf;
}

.cxo{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .heading{
        text-align: center;
        font-size: 4.5rem;
    }
.Social-madia{
    background: #082b57;
    padding: 12rem;
    border-radius: 2rem 2rem 2rem 2rem;
     display: inline-block;
    }

 .Social-madia a{
    display: inline-block;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 width: 6rem;
 height: 6rem;
 background: transparent;
 border: .2rem solid var(--min-color);
 border-radius: 50%;
 font-size: 4rem;
 color: var(--min-color);
 margin: 3rem 1.5rem 3rem 0;
 transition: .5s ease;
}
.Social-madia a:hover{

    transform: translateY(-18px);
    background: var(--min-color);
    color: var(--second-big-color);
}
.na{
 text-align: center;
 margin-top: 2rem;
 color: pink;  
    
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
 .header {
    padding: 2rem 3%;
 }   
 
 .section {
    padding: 10rem 3% 2rem;
 }

 .servicer{
    padding: 7rem;
 }

 .Projects{
    padding: 7rem;
 }

 .Contact{
    padding: 7rem;
 }
 .footer{
    padding: 2rem 3%;
 }
}

@media (max-width: 768px) {

    #menu-ico {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--big-color);
        border-top: 1rem solid rgba(0,0,0,0.2);
        box-shadow: 0  .5rem 1rem rgba(0,0,0,0.2);
       display: flex;
       display: none;
       flex-direction: column;
    }
    .navbar.active {
        display: block;
    }
    
    .navbar a {
        display: block;
        margin:3rem 0;
        font-size: 2rem;
    }
     
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content{
        order: 2;
    }
    
    .home-img img {
        width: 50vw;
        margin-top: 4rem;
    }

    .About {
        flex-direction: column;
    }
    .About-img img {
        width: 90vw;
        margin-top: 4rem;
    }
 .services h2{
    margin-bottom: 3rem;
 }    

 .projects h2{
    margin-bottom: 3rem;
 }

 .pro-co{
    grid-template-columns: repeat(2, 1fr);
 }

}

@media (max-width: 617px) {
    .pro-co {
        grid-template-columns: 1fr;
    }

  .home-img img {
    width: 50vw;
    margin-top: 8rem;
  }

 .About-img img {
    width: 70vw;
    margin-top: 4rem;
  }

}

@media (max-width: 450px) {
 html {
    font-size: 50%;
 }

 .contact from .input-box input {
    width: 100%;
 }

}